---
title: Welcome to Middleman
---

<div class="l-wrap">
  <div class="header">
    <div class="title">
      <h1>Morgan Donze</h1>
    </div>

    <div class="nav">
      <div>
        <a>About</a>
        <a>Work</a>
      </div>
    </div>
  </div>
</div>

<div class="l-wrap">
  <div class="grid">
    <div class="column"><div></div></div>
    <div class="column"><div></div></div>
    <div class="column"><div></div></div>
    <div class="column"><div></div></div>
    <div class="column"><div></div></div>
    <div class="column"><div></div></div>
    <div class="column"><div></div></div>
    <div class="column"><div></div></div>
    <div class="column"><div></div></div>
    <div class="column"><div></div></div>
    <div class="column"><div></div></div>
    <div class="column"><div></div></div>
  </div>
</div>
