---
title: Welcome to Middleman
---

<!-- Main section -->
<div class="l-wrap">
  <div class="main">
    <div class="main-header">
      <div class="site-title">
        <h1>Morgan Donze</h1>
      </div>

      <div class="nav">
        <div class="desktop-only">
          <a href="https://github.com/morgandonze">About</a>
          <a href="https://github.com/morgandonze">Work</a>
        </div>

        <div class="tablet-only">
          <img src="/images/menu_button/menu.svg" />
        </div>

        <div class="mobile-only">
            <img src="/images/menu_button/menu.svg" />
        </div>
      </div>
    </div>
    
    <div class="splash">

      <div class="splash-spacer desktop-only">
      </div>

      <div class="splash-image">
        <div class="owl">
          <img src="/images/owl.png" />
        </div>
      </div>

      <div class="splash-spacer">
      </div>
      <div class="splash-spacer desktop-only">
      </div>

      <div class="intro-text">
        <section>
          <p>
            Hi! I'm a full-stack engineer. I build apps with React Native, Elixir + Phoenix, and maybe even Ruby on Rails.
          </p>
        </section>
      </div>
    </div> <!-- splash -->

    <div class="cta-buttons">
      <div class="cta-buttons-spacer">
      </div>

      <div class="cta-button">
        <div>
          Read more
        </div>
      </div>

      <div class="cta-button">
        <div>
          <a href="https://twitter.com/morgan_donze">
            Contact
          </a>
        </div>
      </div>
    </div> <!-- cta-buttons -->
  </div> <!--- main section -->

  <!-- About section -->
  <div class="about">
    <div class="about-header">
      <h1>About Morgan</h1>
    </div> <!-- about-header --->

    <div class="spacer1 desktop-only">
    </div>

    <div class="about-text">
      <section>
        <p>
          Hi! I'm a full-stack engineer. I build apps with React Native, Elixir + Phoenix, and maybe even Ruby on Rails. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ut semper neque.
        </p>
      </section>
    </div>

    <div class="spacer1 desktop-only">
    </div>


    <div class="about-image">
      <div class="owl">
        <img src="/donze-portfolio/images/morgan.jpeg" />
      </div>
    </div>
  </div>

  <div class="work">
    <div class="work-header">
      <h1>Work</h1>
    </div>

      <div class="snowbol-cta">
        <h1>Snowbol</h1>
        <div class="work-text">
          Snowbol helps you prioritize your activities!
        </div>

        <div class="cta-button">
          <div>
            Get it!
          </div>
        </div>
      </div>

      <div class="spacer1"></div>
      <div class="spacer1"></div>

      <div class="snowbol-image">
        <div>
          <img src="/images/snowbol-app.png" />
        </div>
      </div>

    <div>
  </div>
</div> <!-- l-wrap -->

<!-- Layout Columns -->
<div class="l-wrap">
  <div class="grid">
    <div class="column"><div></div></div>
    <div class="column"><div></div></div>
    <div class="column"><div></div></div>
    <div class="column"><div></div></div>
    <div class="column"><div></div></div>
    <div class="column desktop-only"><div></div></div>
    <div class="column desktop-only"><div></div></div>
    <div class="column desktop-only"><div></div></div>
    <div class="column desktop-only"><div></div></div>
    <div class="column desktop-only"><div></div></div>
    <div class="column desktop-only"><div></div></div>
    <div class="column desktop-only"><div></div></div>
  </div>
</div>
