---
title: Welcome to Middleman
---

<div class="l-wrap">
  <div class="header">
    <div class="title">
      <h1>Morgan Donze</h1>
    </div>

    <div class="nav">
      <div class="desktop-only">
        <a>About</a>
        <a>Work</a>
      </div>

      <div class="tablet-only">
        <img src="/images/menu_button/menu.svg" />
      </div>

      <div class="mobile-only">
        <img src="/images/menu_button/menu.svg" />
      </div>
    </div>
  </div>

  <div class="l-wrap">
    <div class="splash">

      <div class="splash-image">
        <div class="owl">
          <img src="/images/owl.png" />
        </div>
      </div>

      <div class="splash-spacer">
      </div>

      <div class="intro-text">
        <section>
          <p>
            I'm a full-stack engineer. I build apps with React Native, Elixir + Phoenix, and maybe even Ruby on Rails.
          </p>
        </section>
      </div>

    </div> <!-- splash -->

    <div class="cta-buttons">
      <div class="cta-buttons-spacer">
      </div>

      <div class="cta-button">
        <div>
          Read more…
        </div>
      </div>

      <div class="cta-button">
        <div>
          Contact
        </div>
      </div>
    </div> <!-- cta-buttons -->
  </div> <!-- l-wrap -->
</div>

<!-- Layout Columns -->
<div class="l-wrap">
  <div class="grid">
    <div class="column"><div></div></div>
    <div class="column"><div></div></div>
    <div class="column"><div></div></div>
    <div class="column"><div></div></div>
    <div class="column"><div></div></div>
    <div class="column desktop-only"><div></div></div>
    <div class="column desktop-only"><div></div></div>
    <div class="column desktop-only"><div></div></div>
    <div class="column desktop-only"><div></div></div>
    <div class="column desktop-only"><div></div></div>
    <div class="column desktop-only"><div></div></div>
    <div class="column desktop-only"><div></div></div>
  </div>
</div>
